{% extends "base_generic.html" %}

{% block content %}
  <h1>OSCELOT DSK Tool Home</h1>
  <p>Welcome to the OSCELOT DSK Tool, a REST-based version of the original York DSK Tool</p>
  <Thead></Thead>The OSCELOT DSK Tool is a secure cloud-based data source and availability managment tool that utilizes 3-legged authentication.
  <p></p>
  <h2>Version Information</h2>
  Documentation is available via the project site located at:<p><a href='https://github.com/moneil/DSKTool'>https://github.com/moneil/DSKTool</a></p>
<h3>v1.0 (released 07/30/2020)</h3>
<ul>
  <li>Three Legged OAuth to limit access to only System Administrators</li>
  <li>Availabitity and DSK managment for Users</li>
  </ul>
  <h4>ToDo:</h4>
  <ul>
    <li>add search and update for multiple items</li>
    <li>Docker image</li>
    <li>add logging support</li>
    <li>add date timeboxing</li>
  </ul>
  <hr>
  <h4>Your System Information:</h4>
  <ul>
    <li><strong>Learn Server:</strong> {{ learn_server }}</li>
    <li><strong>Version JSON:</strong> {{ version_json }}</li>
  </ul>
{% endblock %}